version: '3.8'

services:
  neo4j_db:
    image: neo4j:5.19.0-community
    container_name: arat_neo4j
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc", "graph-data-science"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*,gds.*
    networks:
      - arat_net
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
      interval: 10s; timeout: 5s; retries: 5

  graflo_worker:
    build: ./graflo_app
    container_name: arat_graflo
    environment:
      - NEO4J_URI=bolt://neo4j_db:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
    volumes:
      - ./data:/app/data
      - ./graflo_app/scripts:/app/scripts
    depends_on:
      neo4j_db:
        condition: service_healthy
    networks:
      - arat_net
    command: tail -f /dev/null

  arat_viz:
    build: ./visualizer
    container_name: arat_visualizer
    ports:
      - "8501:8501"
    environment:
      - NEO4J_URI=bolt://neo4j_db:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
    depends_on:
      neo4j_db:
        condition: service_healthy
    networks:
      - arat_net

networks:
  arat_net:
    driver: bridge
